<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">

	<script src="javascripts/admin.js"></script>
<meta name="csrf-token" content="{{csrfToken}}">

  </head>
  <body>
    {{{body}}}
  </body>
</html>
