<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form onSubmit = "return checkPassword(this)" class="box" role="form" id = "form" >
                    <h1>Create a new account</h1>	
                    <p class="text-muted"> Please enter your name login and password!</p> 
					<input type="text" name="name" placeholder="Name" id = 'name'> 

					<input type="email" name="email" placeholder="Email" id = 'email'> 
					<input type="password" name="password" placeholder="Password" id = "password">


                    <div class="container">
                        <ul class="ks-cboxtags">
                            <p class = "chuyenmuc">Chuyên mục</p>
       

                    <li><input type="checkbox" id="checkboxOne" name  = "chuyenmuc" value="Phòng Công tác học sinh sinh viên (CTHSSV)"><label for="checkboxOne">Phòng Công tác học sinh sinh viên (CTHSSV)</label></li>
                    <li><input type="checkbox" id="checkboxTwo" name  = "chuyenmuc" value="Phòng Đại học" ><label for="checkboxTwo">Phòng Đại học</label></li>
                    <li><input type="checkbox" id="checkboxThree" name  = "chuyenmuc" value="Phòng Sau đại học"><label for="checkboxThree">Phòng Sau đại học</label></li>
                    <li><input type="checkbox" id="checkboxFour" name  = "chuyenmuc" value="Phòng điện toán và máy tính"><label for="checkboxFour">Phòng điện toán và máy tính</label></li>
                    <li><input type="checkbox" id="checkboxFive" name  = "chuyenmuc" value="Phòng khảo thí và kiểm định chất lượng"><label for="checkboxFive">Phòng khảo thí và kiểm định chất lượng</label></li>
                    <li><input type="checkbox" id="checkboxSix" name  = "chuyenmuc" value="Phòng tài chính" ><label for="checkboxSix">Phòng tài chính</label></li>
                    <li><input type="checkbox" id="checkboxSeven" name  = "chuyenmuc" value="TDT Creative Language Center"><label for="checkboxSeven">TDT Creative Language Center</label></li>
                    <li><input type="checkbox" id="checkboxEight" name  = "chuyenmuc" value="Trung tâm tin học"><label for="checkboxEight">Trung tâm tin học</label></li>
                    <li><input type="checkbox" id="checkboxNine" name  = "chuyenmuc" value="Trung tâm đào tạo phát triển xã hội (SDTC)"><label for="checkboxNine">Trung tâm đào tạo phát triển xã hội (SDTC)</label></li>
                    <li><input type="checkbox" id="checkboxTen" name  = "chuyenmuc" value="Trung tâm phát triển Khoa học quản lý và Ứng dụng công nghệ (ATEM)"><label for="checkboxTen">Trung tâm phát triển Khoa học quản lý và Ứng dụng công nghệ (ATEM)</label></li>
                    <li><input type="checkbox" id="checkboxEleven" name  = "chuyenmuc" value="Trung tâm hợp tác doanh nghiệp và cựu sinh viên"><label for="checkboxEleven">Trung tâm hợp tác doanh nghiệp và cựu sinh viên</label></li>
                    <li><input type="checkbox" id="checkboxTwelve" name  = "chuyenmuc" value="Khoa Luật"><label for="checkbox12">Khoa Luật</label></li>
                    <li><input type="checkbox" id="checkboxThirteen" name  = "chuyenmuc" value="Trung tâm ngoại ngữ - tin học - bồi dưỡng văn hóa"><label for="checkboxThirteen">Trung tâm ngoại ngữ - tin học - bồi dưỡng văn hóa</label></li>
                    <li><input type="checkbox" id="checkboxFourteen" name  = "chuyenmuc" value="Viện chính sách kinh tế và kinh doanh"><label for="checkboxFourteen">Viện chính sách kinh tế và kinh doanh</label></li>
                    <li><input type="checkbox" id="checkboxFifteen" name  = "chuyenmuc" value="Khoa Mỹ thuật công nghiệp"><label for="checkboxFifteen">Khoa Mỹ thuật công nghiệp</label></li>
                    <li><input type="checkbox" id="checkbox16" name  = "chuyenmuc" value="Khoa Điện - Điện tử"><label for="checkbox16">Khoa Điện - Điện tử</label></li>
                    <li><input type="checkbox" id="checkbox17" name  = "chuyenmuc" value="Khoa Công nghệ thông tin"><label for="checkbox17">Khoa Công nghệ thông tin</label></li>
                    <li><input type="checkbox" id="checkbox18" name  = "chuyenmuc" value="Khoa Quản trị kinh doanh"><label for="checkbox18">Khoa Quản trị kinh doanh</label></li>
                    <li><input type="checkbox" id="checkbox19" name  = "chuyenmuc" value="Khoa Môi trường và bảo hộ lao động"><label for="checkbox19">Khoa Môi trường và bảo hộ lao động</label></li>
                    <li><input type="checkbox" id="checkbox20" name  = "chuyenmuc" value="Khoa Lao động công đoàn"><label for="checkbox20">Khoa Lao động công đoàn</label></li>
                    <li><input type="checkbox" id="checkbox21" name  = "chuyenmuc" value="Khoa Tài chính ngân hàng"><label for="checkbox21">Khoa Tài chính ngân hàng</label></li>
                    <li><input type="checkbox" id="checkbox22" name  = "chuyenmuc" value="Khoa giáo dục quốc tế"><label for="checkbox22">Khoa giáo dục quốc tế</label></li>



  </ul>

</div>

					<button id = "taophongban" type="submit" >Create</button>


					<a class="forgot text-muted" href="/">Come back Home</a> 

                </form>

            </div>
        </div>
    </div>
</div>


