<div class="four-z-four bg_color">
    <div class="four-z-top">
        <div class="four_z">
         <div class="four_z_three">
         </div>
        </div>         
    </div>
    <div class="four-zero-four" style="text-align: center;">	
            <div class="container" >
                <div class="row"> 
                    <div class="col-4">  
                    <h1>4</h1>
                    </div>
                    <div class="col-4">
                    <h2> 0 </h2>
                    </div>
                    <div class="col-4">
                    <h3> 4 </h3>
                    </div>
                </div>
            </div>
    </div>
</div>
<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
