<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form onSubmit = "return checkPassword(this)" class="box" role="form" id = "form" action = "/login" method = "POST">
                    <h1>Login</h1>	
                    <p class="text-muted"> Please enter your login and password!</p> 
					<input type="hidden" name = "_csrf" value= "{{csrfToken}}">

					<input type="email" name="email" placeholder="Email" id = 'email' > 
					<input type="password" name="password" placeholder="Password" id = "password" onkeyup='check();'> 
                    <input type="password" name="repassword" placeholder="RePassword" id = "repassword">         
                               <span id='message'></span>
                    <br>
                    <button type="submit" id = 'forgot' >Forgot password</button>
                    <button type="submit" id = 'loginback' >Login Back</button>

					<button type="submit" id = 'login' >Login</button>


                    <div class="col-md-12"> <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="/auth/google"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Signup Using Google</a> </div>

                </form>
            </div>
        </div>
    </div>
</div>


