<div class="container">
    <div class="row">
        <div class="col-md-6">
                <form onSubmit = "return checkPassword(this)" class="box" role="form" id = "form" action = "/login" method = "POST">
					<h1>Danh sách Thông báo phòng ban</h1>
                    <div id  = "phongban">
                        <template>
                    <a class="forgot text-muted" href="/doimk">{Forgot password?}</a>
                    </br>
                        </template>
                    </div>


                </form>
        </div>
    </div>
</div>

