body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;  
  background: linear-gradient(to right, #b92b27, #1565c0);
  background-position: block;
}

  


html .container{
    margin: 0;
    padding: 0;
}

body .container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
    max-width: 1200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}
.container .chuyenmuc{
  Color: white;
  font-size: 30px;
}
ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #000000;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}














.box {
  width: 500px;
  padding: 40px;
  position: relative;
  left: 30%;
  background: #191919;
  text-align: center;
  transition: 0.25s;
  margin-top: 100px;
  border-radius: 10%;
}
.container .box#formadmin {
  width: 1000px
}
p.text-muted {
  color: white;
}
.box input[type="email"],.box input[type="text"],

.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500
}

.box input[type="email"]:focus,.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 300px;
  border-color: #2ecc71
}
#repassword{
  display:none;
}

.box button[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer
}
.box button[type="submit"]#forgot{
  border: 0;
  background: none;
  display: block;
  margin: 0px auto;
  text-align: center;
  padding: 0px;
  outline: none;
  color: red;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer
}
.box button[type="submit"]#loginback{
  border: 0;
  background: none;
  display: none;
  margin: 0px auto;
  text-align: center;
  padding: 0px;
  outline: none;
  color: red;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer,
}
.box button[type="submit"]:hover {
  background: #2ecc71
}

.forgot.text-muted {

    color: white;
}


.btn{
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #60a3bc;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s
}

a.btn:hover {
  color: white !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: #60a3bc;

  transition: all 0.3s ease 0s;
  
}
.alert{
  display: none;
  z-index: 9999;
  position: fixed;
  top: 10px;
  width: 500px;  
  color: #3c763d;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  height: auto;
  font-size: 15px;
  animation-name: example;
  animation-duration: 1s;  
  animation-fill-mode: forwards;
}
@keyframes example {
  from {right:  -500px;}
  to {right: 20px;}
}
a#hover-primary:hover{
    color: red;
    text-decoration: none;
}

